<!DOCTYPE html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <!-- make your website look good on all devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}WM | space{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
</head>

<body>
    <div class="container">
        {% if request.user.is_authenticated %}
        <nav class="">
            <a class="" href="{% url 'logoutpage' %}">logout</a>
        </nav>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
</body>